<div class="container text-center">
    <div class="productos">
        <div *ngFor="let producto of productos" class="producto" style="width: 10rem; height: 18rem;">
            <img [src]="producto.imagen" class="foto" [alt]="producto.nombre" width="150em" height="150em">
            <div class="card-body">
                <h5 class="nombre">{{producto.nombre}}</h5>
                <p class="precio">S/{{producto.precio}}</p>
                <div class="cantidad">
                    <input [(ngModel)]="producto.cantidad" type="number" value="0">
                    <button (click)="sumar_total(producto)" type="submit" class="btn btn-outline-secondary boton">Añadir</button>
                </div>
            </div>
        </div>
    </div>
</div>


