*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.container{
    padding-top: 2em;
    padding-left: 1.5em;
}

.productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    .producto{
        //padding-bottom: 1em;
    }
}
