@import "src/styles.scss";

.navbar{
    //background-color: #F2CEAE;
    background: linear-gradient(180deg, $naranja, 30%, $crema);
    font-size: 1.7em;
}

.redondear{
    border-radius: 50%;
}

@media (min-width: 768px){
    .collapse{
        align-self: end;
    }
}