/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';

$negro: #251B26;
$amarillo: #F2B705;
$naranja: #F27F1B;
$marron: #8C4C14;
$crema: #F2CEAE;